body {
    font: 10px;
    font-family: "Times New Roman", Times, serif;
}
h1, p, h3 {
    font: 40px;
    text-align: center;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

#chart {
    width: 100%;
    height: 100%;
    position: absolute;
}
#key_options {
    margin-left: 10%;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
.term_label {
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}
#buttons {
    text-align: center;
}
#edit-axes {
    background-color: lightblue;
}
#options {
    background-color: lightgoldenrodyellow;
}
