body {
    font: 10px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1, .row {
    font: 40px;
    text-align: center;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

#chart {
    width: 100%;
    height: 100%;
    position: absolute;
}
#key_options {
    margin-left: 10%;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}