body {
    font-family: Georgia;
    font-stretch: normal;
    font-variant: small-caps;
    font-size: 16px;
}
#header {
    background-color: lightgrey;
    text-align: left;
    
}
h1, h3 {
    text-align: center;
}
h3 {
    font-weight: bolder;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

#chart {
    width: 100%;
    height: 100%;
    position: absolute;
}
#key_options {
    margin-left: 10%;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
.term_label {
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}
#buttons {
    text-align: center;
}
#edit-axes {
    background-color: lightblue;
    text-align: center;
}
#options {
    background-color: lightgoldenrodyellow;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#update_button {
    background-color: green;
}
#reset_button {
    background-color: darkolivegreen;
}
#lang_options {
    text-align: center;
}
.edit {
    padding: 20px;
    
}
